In [56]:
import pandas as pd
import numpy as np

### Task 1

In [26]:
input = [2,6,3,5,1,7]
def max_diff(df): 
    diff = 0
    maxd = 0
    for i in input: 
        for j in input:
            if df.index(i) <= df.index(j):
                diff = i-j
                if diff > maxd: 
                    maxd = diff
    return maxd

In [27]:
max_diff(input)

5

### Task 2

In [59]:
df = pd.read_csv('Fred.txt', header= None,names= ['timeCharged', 'timeLasted'])
df.describe()

       timeCharged  timeLasted
count   100.000000  100.000000
mean      4.573000    6.206800
std       2.788603    2.454116
min       0.000000    0.000000
25%       1.987500    3.975000
50%       4.375000    8.000000
75%       6.522500    8.000000
max      11.720000    8.000000

In [72]:
df['coef'] = df.apply(lambda row: row.timeLasted/row.timeCharged, axis=1)
df1 = df.loc[df['coef'] == 2]
df2 = df.loc[df['coef'] != 2]

print(df1['timeLasted'].max())
print(df2['timeLasted'].min())

7.98
0.0

<ipython-input-72-c7879a60cf4c>:1: RuntimeWarning: invalid value encountered in double_scalars
  df['coef'] = df.apply(lambda row: row.timeLasted/row.timeCharged, axis=1)

In [82]:
df1.describe()

       timeCharged  timeLasted  coef
count    45.000000   45.000000  45.0
mean      2.096444    4.192889   2.0
std       1.070174    2.140349   0.0
min       0.020000    0.040000   2.0
25%       1.580000    3.160000   2.0
50%       1.980000    3.960000   2.0
75%       2.720000    5.440000   2.0
max       3.990000    7.980000   2.0

In [99]:
def Tlast(Tchar):
#d=float(input('input charging time: '))
    if Tchar < 4:
        last = Tchar * 2 
        print(round(last,1))
    else: 
        last = 8
        print(last)

In [100]:
Tlast(3.43425)

6.9

### Task 3

The money flow index (MFI) is a momentum indicator that measures the inflow and outflow of money into and out of a security over a specific period of time. It is computed as given below, and can assume values between 0 and 100.

• Money Flow Index = 100 x Money Ratio ⁄ (1 + Money Ratio)

• Money Ratio = Positive Money Flow Sum ⁄ Negative Money Flow Sum

• Money Flow = Typical Price × Volume

• Typical Price = (High Price + Low Price + Close Price) ⁄ 3

The concepts of Positive and Negative Money Flow are defined as follows: on any given day, the Money Flow is denoted positive / negative if the Typical Price is higher / lower than the previous day's typical price. If the Typical Price is unchanged then that day's data are discarded. 

The Positive Money Flow Sum is the sum of all the Positive Money Flow over a sliding window of n days. The Negative Money Flow Sum is the sum of all the Negative Money Flow over a sliding window of n days.
Given the stock price data consisting of open, close, volume, low, and high price, calculate the Money Flow Index for each day over a sliding window of n days (n will be given). The first Money Flow Index value is calculated for the (n + 1)th day.

Function Description Create the moneyFlowIndex function. The function must create a file money_flow_index_[n].csv containing the headers: Day, Open, High, Low, Close, Volume, Typical Price, Positive Money Flow, Negative Money Flow, Positive Money Flow Sum, Negative Money Flow Sum, and Money Flow Index as described in the examples above. The money flow index should be calculated over a sliding window of n days, inclusive of the day for which it is calculated. No return value is expected.

moneyFlowIndex has two parameters: filename: a string describing the name of the input CSV file containing the headers: Day, Open, High, Low, Close, and Volume n: an integer
Evaluation The output file must meet the following conditions:
• The output CSV file must contain the headers in the given order: Day, Open, High, Low, Close, Volume, Typical Price, Positive Money Flow, Negative Money Flow, Positive Money Flow Sum, Negative Money Flow Sum, and Money Flow Index.
• The Day, Open, High, Low, Close, and Volume must exactly match with the values given in the input CSV file.
• The computed values of Typical Price, Positive Money Flow, Negative Money Flow, Positive Money Flow Sum, Negative
• Money Flow Sum, and Money Flow Index value should not deviate from the correct values by more than 10-6.

The values of n provided will always be such that it is possible to calculate the money flow index over n days.

In [68]:
df = pd.read_csv('./money flow index/sample.csv', index_col = 'Day')
df

tyPrice = (df['High'] + df['Low']+df['Close'])/3
df['Typical'] = round(df.apply(lambda row: (row.High+row.Low+row.Close)/3, axis=1),2)
df['Money Flow'] = round(df.apply(lambda row: row.Typical*row.Volume, axis=1),2)
df

      Open   High    Low  Close  Volume  Typical  Money Flow
Day
1    47.04  48.24  47.04  48.15    3509    47.81   167765.29
2    48.17  48.89  47.97  48.36    4862    48.41   235369.42
3    48.55  49.71  48.52  49.55    1810    49.26    89160.60
4    49.55  49.87  48.51  49.41    3824    49.26   188370.24
5    49.41  49.96  45.84  46.36    2209    47.39   104684.51
6    46.35  46.51  44.61  45.60    4558    45.57   207708.06
7    45.54  45.54  43.63  44.02    3832    44.40   170140.80
8    44.05  44.49  43.19  43.57    3778    43.75   165287.50
9    43.63  45.29  43.63  45.00    1005    44.64    44863.20
10   44.96  44.96  42.88  43.44    4047    43.76   177096.72
11   43.44  45.01  43.24  44.90    2201    44.38    97680.38
12   44.90  45.53  44.76  45.18    2507    45.16   113216.12
13   45.13  45.13  43.78  44.39    4392    44.43   195136.56
14   44.09  44.24  42.70  42.95    3497    43.30   151420.10
15   43.09  43.57  42.56  43.08    1181    43.07    50865.67
16   42.94  43.90  42.25  42.52    1971    42.89    84536.19
17   42.64  44.08  42.62  43.99    4994    43.56   217538.64
18   43.99  45.32  43.90  45.23    2017    44.82    90401.94
19   45.23  45.62  44.37  44.82    2823    44.94   126865.62
20   44.83  45.73  44.03  45.63    2774    45.13   125190.62

In [65]:
df.drop(columns = ['Positive Money Flow'],axis=1)

      Open   High    Low  Close  Volume  Typical  Money Flow
Day
1    47.04  48.24  47.04  48.15    3509    47.81   167765.29
2    48.17  48.89  47.97  48.36    4862    48.41   235369.42
3    48.55  49.71  48.52  49.55    1810    49.26    89160.60
4    49.55  49.87  48.51  49.41    3824    49.26   188370.24
5    49.41  49.96  45.84  46.36    2209    47.39   104684.51
6    46.35  46.51  44.61  45.60    4558    45.57   207708.06
7    45.54  45.54  43.63  44.02    3832    44.40   170140.80
8    44.05  44.49  43.19  43.57    3778    43.75   165287.50
9    43.63  45.29  43.63  45.00    1005    44.64    44863.20
10   44.96  44.96  42.88  43.44    4047    43.76   177096.72
11   43.44  45.01  43.24  44.90    2201    44.38    97680.38
12   44.90  45.53  44.76  45.18    2507    45.16   113216.12
13   45.13  45.13  43.78  44.39    4392    44.43   195136.56
14   44.09  44.24  42.70  42.95    3497    43.30   151420.10
15   43.09  43.57  42.56  43.08    1181    43.07    50865.67
16   42.94  43.90  42.25  42.52    1971    42.89    84536.19
17   42.64  44.08  42.62  43.99    4994    43.56   217538.64
18   43.99  45.32  43.90  45.23    2017    44.82    90401.94
19   45.23  45.62  44.37  44.82    2823    44.94   126865.62
20   44.83  45.73  44.03  45.63    2774    45.13   125190.62

In [87]:
df['Positive Money Flow'] = 0
df['Negative Money Flow'] = 0

for i in range(1,len(df)):

    if df['Typical'][i+1] > df['Typical'][i]:
        df['Positive Money Flow'][i+1] = df['Money Flow'][i+1]

    elif df['Typical'][i+1] < df['Typical'][i]:
        df['Negative Money Flow'][i+1] = df['Money Flow'][i+1]
df['Positive_Money_Sum']  =  df['Positive Money Flow'].rolling(10).sum()
df['Negative_Money_Sum']  =  df['Negative Money Flow'].rolling(10).sum()
df['Money_Ratio'] = round(df.apply(lambda row: row.Positive_Money_Sum /  row.Negative_Money_Sum, axis=1),2)
df['Money_Flow_Index'] =  round(df.apply(lambda row: (row.Money_Ratio *100) /  (1+row.Money_Ratio), axis=1),2)
df

<ipython-input-87-43c2724cafda>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Positive Money Flow'][i+1] = df['Money Flow'][i+1]
<ipython-input-87-43c2724cafda>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Negative Money Flow'][i+1] = df['Money Flow'][i+1]

,Open,High,Low,Close,Volume,Typical,Money Flow,Positive Money Flow,Negative Money Flow,Positive Money Sum,Positive_Money_Sum,Negative_Money_Sum,Money Ratio,Money Flow Index,Money_Ratio,Money_Flow_Index
Day,,,,,,,,,,,,,,,,
1,47.04,48.24,47.04,48.15,3509,47.81,167765.29,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,48.17,48.89,47.97,48.36,4862,48.41,235369.42,235369,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,48.55,49.71,48.52,49.55,1810,49.26,89160.60,89160,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,49.55,49.87,48.51,49.41,3824,49.26,188370.24,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,49.41,49.96,45.84,46.36,2209,47.39,104684.51,0,104684,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,46.35,46.51,44.61,45.60,4558,45.57,207708.06,0,207708,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,45.54,45.54,43.63,44.02,3832,44.40,170140.80,0,170140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,44.05,44.49,43.19,43.57,3778,43.75,165287.50,0,165287,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,43.63,45.29,43.63,45.00,1005,44.64,44863.20,44863,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,44.96,44.96,42.88,43.44,4047,43.76,177096.72,0,177096,369392.0,369392.0,824915.0,0.45,0.45,0.45,31.03
11,43.44,45.01,43.24,44.90,2201,44.38,97680.38,97680,0,467072.0,467072.0,824915.0,0.57,0.57,0.57,36.31
12,44.90,45.53,44.76,45.18,2507,45.16,113216.12,113216,0,344919.0,344919.0,824915.0,0.42,0.42,0.42,29.58
13,45.13,45.13,43.78,44.39,4392,44.43,195136.56,0,195136,255759.0,255759.0,1020051.0,0.25,0.25,0.25,20.00
14,44.09,44.24,42.70,42.95,3497,43.30,151420.10,0,151420,255759.0,255759.0,1171471.0,0.22,0.22,0.22,18.03
15,43.09,43.57,42.56,43.08,1181,43.07,50865.67,0,50865,255759.0,255759.0,1117652.0,0.23,0.23,0.23,18.70
16,42.94,43.90,42.25,42.52,1971,42.89,84536.19,0,84536,255759.0,255759.0,994480.0,0.26,0.26,0.26,20.63
17,42.64,44.08,42.62,43.99,4994,43.56,217538.64,217538,0,473297.0,473297.0,824340.0,0.57,0.57,0.57,36.31
18,43.99,45.32,43.90,45.23,2017,44.82,90401.94,90401,0,563698.0,563698.0,659053.0,0.86,0.86,0.86,46.24
19,45.23,45.62,44.37,44.82,2823,44.94,126865.62,126865,0,645700.0,645700.0,659053.0,0.98,0.98,0.98,49.49
20,44.83,45.73,44.03,45.63,2774,45.13,125190.62,125190,0,770890.0,770890.0,481957.0,1.60,1.60,1.60,61.54

In [106]:
def moneyFlowIndex(df, n): 
    df['Typical'] = round(df.apply(lambda row: (row.High+row.Low+row.Close)/3, axis=1),2)
    df['Money Flow'] = round(df.apply(lambda row: row.Typical*row.Volume, axis=1),2)
    df['Positive Money Flow'] = 0
    df['Negative Money Flow'] = 0

    for i in range(1,len(df)):

        if df['Typical'][i+1] > df['Typical'][i]:
            df['Positive Money Flow'][i+1] = df['Money Flow'][i+1]

        elif df['Typical'][i+1] < df['Typical'][i]:
            df['Negative Money Flow'][i+1] = df['Money Flow'][i+1]
    df['Positive_Money_Sum']  =  df['Positive Money Flow'].rolling(n).sum()
    df['Negative_Money_Sum']  =  df['Negative Money Flow'].rolling(n).sum()
    df['Money_Ratio'] = round(df.apply(lambda row: row.Positive_Money_Sum /  row.Negative_Money_Sum, axis=1),2)
    df['Money_Flow_Index'] =  round(df.apply(lambda row: (row.Money_Ratio *100) /  (1+row.Money_Ratio), axis=1),2)
    
    df = df.replace(0,np.nan)
    df.to_csv('money_flow_index_' + str(n) +'.csv')
    display(df)

In [108]:
df4 = pd.read_csv('./money flow index/sample.csv', index_col = 'Day')
moneyFlowIndex(df4, 6)

<ipython-input-106-c0a47a28a320>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Positive Money Flow'][i+1] = df['Money Flow'][i+1]
<ipython-input-106-c0a47a28a320>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Negative Money Flow'][i+1] = df['Money Flow'][i+1]

,Open,High,Low,Close,Volume,Typical,Money Flow,Positive Money Flow,Negative Money Flow,Positive_Money_Sum,Negative_Money_Sum,Money_Ratio,Money_Flow_Index
Day,,,,,,,,,,,,,
1,47.04,48.24,47.04,48.15,3509,47.81,167765.29,NaN,NaN,NaN,NaN,NaN,NaN
2,48.17,48.89,47.97,48.36,4862,48.41,235369.42,235369.0,NaN,NaN,NaN,NaN,NaN
3,48.55,49.71,48.52,49.55,1810,49.26,89160.60,89160.0,NaN,NaN,NaN,NaN,NaN
4,49.55,49.87,48.51,49.41,3824,49.26,188370.24,NaN,NaN,NaN,NaN,NaN,NaN
5,49.41,49.96,45.84,46.36,2209,47.39,104684.51,NaN,104684.0,NaN,NaN,NaN,NaN
6,46.35,46.51,44.61,45.60,4558,45.57,207708.06,NaN,207708.0,324529.0,312392.0,1.04,50.98
7,45.54,45.54,43.63,44.02,3832,44.40,170140.80,NaN,170140.0,324529.0,482532.0,0.67,40.12
8,44.05,44.49,43.19,43.57,3778,43.75,165287.50,NaN,165287.0,89160.0,647819.0,0.14,12.28
9,43.63,45.29,43.63,45.00,1005,44.64,44863.20,44863.0,NaN,44863.0,647819.0,0.07,6.54
10,44.96,44.96,42.88,43.44,4047,43.76,177096.72,NaN,177096.0,44863.0,824915.0,0.05,4.76
11,43.44,45.01,43.24,44.90,2201,44.38,97680.38,97680.0,NaN,142543.0,720231.0,0.20,16.67
12,44.90,45.53,44.76,45.18,2507,45.16,113216.12,113216.0,NaN,255759.0,512523.0,0.50,33.33
13,45.13,45.13,43.78,44.39,4392,44.43,195136.56,NaN,195136.0,255759.0,537519.0,0.48,32.43
14,44.09,44.24,42.70,42.95,3497,43.30,151420.10,NaN,151420.0,255759.0,523652.0,0.49,32.89
15,43.09,43.57,42.56,43.08,1181,43.07,50865.67,NaN,50865.0,210896.0,574517.0,0.37,27.01
16,42.94,43.90,42.25,42.52,1971,42.89,84536.19,NaN,84536.0,210896.0,481957.0,0.44,30.56
17,42.64,44.08,42.62,43.99,4994,43.56,217538.64,217538.0,NaN,330754.0,481957.0,0.69,40.83
18,43.99,45.32,43.90,45.23,2017,44.82,90401.94,90401.0,NaN,307939.0,481957.0,0.64,39.02
19,45.23,45.62,44.37,44.82,2823,44.94,126865.62,126865.0,NaN,434804.0,286821.0,1.52,60.32
20,44.83,45.73,44.03,45.63,2774,45.13,125190.62,125190.0,NaN,559994.0,135401.0,4.14,80.54

### Task 4

In [122]:
input = [3,5,1,19,5,3,3,2,2,1,19]
odd = 0
for i in input:
    odd^=i
print(odd)

3